.App {
  text-align: center;
}
.container {
  background-color: white;
}
.time {
  font-size: 15em;
}

.modes {
  display: flex;
  justify-content: center;
}

.modes button {
  border: none;
  padding: 15px;
  margin: 0;
}

.modes button:hover {
  transform: scale(125%);
}
.off {
  color: black;
}
.on {
  color: white;
}
button {
  margin: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 1em;
  background: none;
  font-weight: bolder;
  text-transform: uppercase;
}
