.App {
  text-align: center;
}

.time {
  font-size: 15em;
}

button {
  margin: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 1em;
  background: none;
  font-weight: bolder;
  text-transform: uppercase;
}
